<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall0624.cart.mapper.CartInfoMapper">
    <resultMap id="cartInfoMap" type="com.atguigu.gmall0624.bean.CartInfo" autoMapping="true">
        <id property="id" column="id"></id>
        <result property="skuPrice" column="price"></result>
    </resultMap>
    <select id="selectCartListWithCurPrice" resultMap="cartInfoMap">
      SELECT ci.*, if(si.price is NULL ,ci.cart_price,si.price) price
        FROM cart_info  ci LEFT JOIN sku_info si ON  si.id=ci.sku_id WHERE ci.user_id=#{0} ORDER BY ci.id DESC ;
    </select>
</mapper>
